<header class="container">
	<div id="title" class="col-md-6">
		<h1 class="animated bounceIn">clout-js</h1>
		<p class="animated fadeIn">Cloud Tech</p>
	</div>
	<div id="navigation" class="hidden-sm-down">
		<%Object.keys(navigation).forEach(function (key) {%>
			<a href="<%-navigation[key].href%>">
				<div class="col-md-2">
					<div id="item">
						<i class="<%-navigation[key].icon%>"></i>
						<span><%-navigation[key].title%></span>
					</div>
				</div>
			</a>
		<%});%>
	</div>
	<div class="clear">&nbsp;</div>
	<h2>Clean, simplistic, enterprise grade full-stack NodeJS framework</h2>
	<hr />
</header>
<section id="subscribe" class="container">

</section>